# Divvy bike-share analysis Case Study

## Data Cleaning Process

In this stage, we will perform data cleaning on our dataset so that we have the best possible version of data at the time of analysis.

### 1) Importing the data
-  Prior to importing our raw data, we created two columns namely _trip_duration_ & _day_.
-  Then, we imported our data using _read_csv_ function and then collated all the data into one dataframe via _concat_ function.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202210-divvy-tripdata.csv")
df2 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202211-divvy-tripdata.csv")
df3 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202212-divvy-tripdata.csv")
df4 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202301-divvy-tripdata.csv")
df5 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202302-divvy-tripdata.csv")
df6 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202303-divvy-tripdata.csv")
df6 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202303-divvy-tripdata.csv")
df7 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202304-divvy-tripdata.csv")
df8 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202305-divvy-tripdata.csv")
df9 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202306-divvy-tripdata.csv")
df10 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202307-divvy-tripdata.csv")
df11 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202308-divvy-tripdata.csv")
df12 = pd.read_csv(r"C:/Python/Case Study - Bike Share Analysis/Raw Data/202309-divvy-tripdata.csv")

In [3]:
new_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

In [4]:
new_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,day
0,A50255C1E17942AB,classic_bike,14-10-2022 17:13,14-10-2022 17:19,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member,00:06:00,6
1,DB692A70BD2DD4E3,electric_bike,01-10-2022 16:29,01-10-2022 16:49,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual,00:20:00,7
2,3C02727AAF60F873,electric_bike,19-10-2022 18:55,19-10-2022 19:03,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member,00:08:00,4
3,47E653FDC2D99236,electric_bike,31-10-2022 07:52,31-10-2022 07:58,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member,00:06:00,2
4,8B5407BE535159BF,classic_bike,13-10-2022 18:41,13-10-2022 19:26,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual,00:45:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674394,4F9A6BCFF2E06127,electric_bike,03-09-2023 12:27,03-09-2023 12:38,Albany Ave & Montrose Ave,15621,NaN,NaN,41.961030,-87.705831,41.940000,-87.700000,member,00:11:08,1
5674395,5563887C4C15751E,electric_bike,09-09-2023 12:52,09-09-2023 13:01,Larrabee St & Division St,KA1504000079,NaN,NaN,41.903520,-87.643365,41.900000,-87.670000,member,00:09:05,7
5674396,4A01656B0F762E13,electric_bike,15-09-2023 19:13,15-09-2023 19:29,Damen Ave & Wellington Ave,13268,NaN,NaN,41.935890,-87.678460,41.940000,-87.680000,member,00:16:52,6
5674397,F82C1CB056C1113B,electric_bike,15-09-2023 11:10,15-09-2023 11:13,Albany Ave & Montrose Ave,15621,NaN,NaN,41.961052,-87.705931,41.960000,-87.710000,member,00:02:37,6
5674398,C0429F32C37AAD93,electric_bike,09-09-2023 13:21,09-09-2023 13:24,Halsted St & Clybourn Ave,331,NaN,NaN,41.909547,-87.648064,41.900000,-87.650000,member,00:03:27,7

### 2) Inspecting the data
Now, we will inspect our data using _head_, _describe_, _info_ and other statistical functions.

In [5]:
new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,day
0,A50255C1E17942AB,classic_bike,14-10-2022 17:13,14-10-2022 17:19,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member,00:06:00,6
1,DB692A70BD2DD4E3,electric_bike,01-10-2022 16:29,01-10-2022 16:49,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual,00:20:00,7
2,3C02727AAF60F873,electric_bike,19-10-2022 18:55,19-10-2022 19:03,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member,00:08:00,4
3,47E653FDC2D99236,electric_bike,31-10-2022 07:52,31-10-2022 07:58,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member,00:06:00,2
4,8B5407BE535159BF,classic_bike,13-10-2022 18:41,13-10-2022 19:26,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual,00:45:00,5

In [6]:
new_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'trip_duration', 'day'],
      dtype='object')

In [7]:
new_df.describe

<bound method NDFrame.describe of                   ride_id  rideable_type        started_at          ended_at  \
0        A50255C1E17942AB   classic_bike  14-10-2022 17:13  14-10-2022 17:19
1        DB692A70BD2DD4E3  electric_bike  01-10-2022 16:29  01-10-2022 16:49
2        3C02727AAF60F873  electric_bike  19-10-2022 18:55  19-10-2022 19:03
3        47E653FDC2D99236  electric_bike  31-10-2022 07:52  31-10-2022 07:58
4        8B5407BE535159BF   classic_bike  13-10-2022 18:41  13-10-2022 19:26
...                   ...            ...               ...               ...
5674394  4F9A6BCFF2E06127  electric_bike  03-09-2023 12:27  03-09-2023 12:38
5674395  5563887C4C15751E  electric_bike  09-09-2023 12:52  09-09-2023 13:01
5674396  4A01656B0F762E13  electric_bike  15-09-2023 19:13  15-09-2023 19:29
5674397  F82C1CB056C1113B  electric_bike  15-09-2023 11:10  15-09-2023 11:13
5674398  C0429F32C37AAD93  electric_bike  09-09-2023 13:21  09-09-2023 13:24

                 start_station_name start_station_id  \
0          Noble St & Milwaukee Ave            13290
1         Damen Ave & Charleston St            13288
2          Hoyne Ave & Balmoral Ave              655
3                Rush St & Cedar St     KA1504000133
4                 900 W Harrison St            13028
...                             ...              ...
5674394   Albany Ave & Montrose Ave            15621
5674395   Larrabee St & Division St     KA1504000079
5674396  Damen Ave & Wellington Ave            13268
5674397   Albany Ave & Montrose Ave            15621
5674398   Halsted St & Clybourn Ave              331

                             end_station_name end_station_id  start_lat  \
0                   Larrabee St & Division St   KA1504000079  41.900680
1                    Damen Ave & Cullerton St          13089  41.920037
2                    Western Ave & Leland Ave   TA1307000140  41.979879
3        Orleans St & Chestnut St (NEXT Apts)            620  41.902274
4                           Adler Planetarium          13431  41.874754
...                                       ...            ...        ...
5674394                                   NaN            NaN  41.961030
5674395                                   NaN            NaN  41.903520
5674396                                   NaN            NaN  41.935890
5674397                                   NaN            NaN  41.961052
5674398                                   NaN            NaN  41.909547

         start_lng    end_lat    end_lng member_casual trip_duration  day
0       -87.662600  41.903486 -87.643353        member      00:06:00    6
1       -87.677937  41.854967 -87.675700        casual      00:20:00    7
2       -87.681902  41.966400 -87.688704        member      00:08:00    4
3       -87.627692  41.898203 -87.637536        member      00:06:00    2
4       -87.649807  41.866095 -87.607267        casual      00:45:00    5
...            ...        ...        ...           ...           ...  ...
5674394 -87.705831  41.940000 -87.700000        member      00:11:08    1
5674395 -87.643365  41.900000 -87.670000        member      00:09:05    7
5674396 -87.678460  41.940000 -87.680000        member      00:16:52    6
5674397 -87.705931  41.960000 -87.710000        member      00:02:37    6
5674398 -87.648064  41.900000 -87.650000        member      00:03:27    7

[5674399 rows x 15 columns]>

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5674399 entries, 0 to 5674398
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  trip_duration       object
 14  day                 int64
dtypes: float64(4), int64(1), object(10)
memory usage: 649.4+ MB

### 3) Cleaning the data
We found several areas where we can improve the integrity of our data for ease of use:
-  Datatype of _started_at_ and _ended_at_ columns can be changed to _datetime_ format
-  Checking for unique values
-  Removing duplicates
-  Creating new columns
-  Renaming columns

In [9]:
new_df['started_at'] = pd.to_datetime(new_df['started_at'],errors='coerce')

C:\Users\kunal\AppData\Local\Temp\ipykernel_18256\3408032327.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  new_df['started_at'] = pd.to_datetime(new_df['started_at'],errors='coerce')

In [10]:
new_df['ended_at'] = pd.to_datetime(new_df['ended_at'],errors='coerce')

C:\Users\kunal\AppData\Local\Temp\ipykernel_18256\1459104828.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  new_df['ended_at'] = pd.to_datetime(new_df['ended_at'],errors='coerce')

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5674399 entries, 0 to 5674398
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  trip_duration       object
 14  day                 int64
dtypes: datetime64[ns](2), float64(4), int64(1), object(8)
memory usage: 649.4+ MB

In [12]:
new_df['ride_id'].value_counts()

ride_id
1.23E+15            4
9.94E+15            3
1.44E+15            3
2.56E+15            3
6.20E+15            3
                   ..
7CC36432E1F33262    1
39CDD9EC8E764855    1
08C049B0E4A6459C    1
54F78551352224BE    1
C0429F32C37AAD93    1
Name: count, Length: 5674342, dtype: int64

In [13]:
new_df = new_df.drop_duplicates(subset=['ride_id'])

In [14]:
new_df['rideable_type'].unique()

array(['classic_bike', 'electric_bike', 'docked_bike'], dtype=object)

In [15]:
new_df["start_station"] = new_df['start_station_name'] +" - "+ new_df["start_station_id"]

C:\Users\kunal\AppData\Local\Temp\ipykernel_18256\3270284362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["start_station"] = new_df['start_station_name'] +" - "+ new_df["start_station_id"]

In [16]:
new_df["end_station"] = new_df['end_station_name'] +" - "+ new_df["end_station_id"]

C:\Users\kunal\AppData\Local\Temp\ipykernel_18256\207652969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["end_station"] = new_df['end_station_name'] +" - "+ new_df["end_station_id"]

In [17]:
new_df['member_casual'].unique()

array(['member', 'casual'], dtype=object)

In [18]:
new_df['member_casual'].value_counts()

member_casual
member    3587668
casual    2086674
Name: count, dtype: int64

In [19]:
new_df = new_df.rename(columns={'rideable_type': 'bike_type', 'started_at': 'start_time', 'ended_at': 'end_time', 'member_casual': 'membership_type',})

In [20]:
new_df['day'] = new_df["day"].map(str)

In [21]:
new_df["day"] = new_df["day"].replace(['1', '2', '3', '4', '5', '6', '7'], ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'])

In [22]:
new_df

,ride_id,bike_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,membership_type,trip_duration,day,start_station,end_station
0,A50255C1E17942AB,classic_bike,2022-10-14 17:13:00,2022-10-14 17:19:00,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member,00:06:00,Friday,Noble St & Milwaukee Ave - 13290,Larrabee St & Division St - KA1504000079
1,DB692A70BD2DD4E3,electric_bike,2022-10-01 16:29:00,2022-10-01 16:49:00,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual,00:20:00,Saturday,Damen Ave & Charleston St - 13288,Damen Ave & Cullerton St - 13089
2,3C02727AAF60F873,electric_bike,2022-10-19 18:55:00,2022-10-19 19:03:00,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member,00:08:00,Wednesday,Hoyne Ave & Balmoral Ave - 655,Western Ave & Leland Ave - TA1307000140
3,47E653FDC2D99236,electric_bike,2022-10-31 07:52:00,2022-10-31 07:58:00,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member,00:06:00,Monday,Rush St & Cedar St - KA1504000133,Orleans St & Chestnut St (NEXT Apts) - 620
4,8B5407BE535159BF,classic_bike,2022-10-13 18:41:00,2022-10-13 19:26:00,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual,00:45:00,Thursday,900 W Harrison St - 13028,Adler Planetarium - 13431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674394,4F9A6BCFF2E06127,electric_bike,2023-09-03 12:27:00,2023-09-03 12:38:00,Albany Ave & Montrose Ave,15621,NaN,NaN,41.961030,-87.705831,41.940000,-87.700000,member,00:11:08,Sunday,Albany Ave & Montrose Ave - 15621,NaN
5674395,5563887C4C15751E,electric_bike,2023-09-09 12:52:00,2023-09-09 13:01:00,Larrabee St & Division St,KA1504000079,NaN,NaN,41.903520,-87.643365,41.900000,-87.670000,member,00:09:05,Saturday,Larrabee St & Division St - KA1504000079,NaN
5674396,4A01656B0F762E13,electric_bike,2023-09-15 19:13:00,2023-09-15 19:29:00,Damen Ave & Wellington Ave,13268,NaN,NaN,41.935890,-87.678460,41.940000,-87.680000,member,00:16:52,Friday,Damen Ave & Wellington Ave - 13268,NaN
5674397,F82C1CB056C1113B,electric_bike,2023-09-15 11:10:00,2023-09-15 11:13:00,Albany Ave & Montrose Ave,15621,NaN,NaN,41.961052,-87.705931,41.960000,-87.710000,member,00:02:37,Friday,Albany Ave & Montrose Ave - 15621,NaN
5674398,C0429F32C37AAD93,electric_bike,2023-09-09 13:21:00,2023-09-09 13:24:00,Halsted St & Clybourn Ave,331,NaN,NaN,41.909547,-87.648064,41.900000,-87.650000,member,00:03:27,Saturday,Halsted St & Clybourn Ave - 331,NaN

### 4) Saving the data
We will save three versions of data:
-  The version of cleaned data, as a whole
-  Data filtered for casual members
-  Data filtered for annual members

In [23]:
new_df.to_csv('dataframe.csv')

In [24]:
casual_data=new_df.query("membership_type == 'casual'")

In [25]:
member_data=new_df.query("membership_type == 'member'")

In [26]:
casual_data.to_csv('dataframe_casual.csv')

In [27]:
member_data.to_csv('dataframe_member.csv')